div.feed { 
    /* figure out how to orient divs. maybe flexbox with tabs and 2 camerapanes inline?*/
    /* display: inline-block; */
    background-color:antiquewhite;
    padding-left: 10px;
    height: 250px;
    border: solid;
}

div.pane {
    margin-bottom: 10px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #33b249;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

label {
    font-weight: bold;
}
